* {
  /* permet de gerer les dimensiosn sans prendre en compte les padding et margin */
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  background: rgb(246, 255, 255);
}

body {
  padding: 0rem 10rem;
}

.back-color {
  background: lightgray;
  display: flex;
  flex-direction: column;
}

.back-color > p {
  padding: 0 1rem;
  margin: 0.5rem;
  background: lightgrey;
}

h1 {
  text-align: center;
}

.liens {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

main section {
  padding: 0 1rem;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main p {
  text-align: center;
}

main figure {
  width: 25rem;
  text-align: center;
  margin: 1rem 0;
}

figure img {
  width: 100%;
  object-fit: cover;
}

.carte {
  border: 1px solid;
  margin: 1rem 0rem;
}

.carte h2 {
  padding: 0.5rem;
  margin: 0;
}

#frize .back-color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  background: rgb(246, 255, 255);
  margin: 0.5rem 0rem;
  width: 35rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
